a,
  a:hover,
  a:focus,
  a:active {
    color: #1DA1F2;
  }

  .u-textUserColor,
  .u-textUserColorHover:hover,
  .u-textUserColorHover:hover .ProfileTweet-actionCount,
  .u-textUserColorHover:focus {
    color: #1DA1F2 !important;
  }

  .u-borderUserColor,
  .u-borderUserColorHover:hover,
  .u-borderUserColorHover:focus {
    border-color: #1DA1F2 !important;
  }

  .u-bgUserColor,
  .u-bgUserColorHover:hover,
  .u-bgUserColorHover:focus {
    background-color: #1DA1F2 !important;
  }

  .u-dropdownUserColor > li:hover,
  .u-dropdownUserColor > li:focus,
  .u-dropdownUserColor > li > button:hover,
  .u-dropdownUserColor > li > button:focus,
  .u-dropdownUserColor > li > a:focus,
  .u-dropdownUserColor > li > a:hover {
    color: #fff !important;
    background-color: #1DA1F2 !important;
  }

  .u-boxShadowInsetUserColorHover:hover,
  .u-boxShadowInsetUserColorHover:focus {
    box-shadow: inset 0 0 0 5px #1DA1F2 !important;
  }

  .u-dropdownOpenUserColor.dropdown.open .dropdown-toggle {
    color: #1DA1F2;
  }


  .u-textUserColorLight {
    color: #A4D9F9 !important;
  }

  .u-borderUserColorLight,
  .u-borderUserColorLightFocus:focus,
  .u-borderUserColorLightHover:hover,
  .u-borderUserColorLightHover:focus {
    border-color: #A4D9F9 !important;
  }

  .u-bgUserColorLight {
    background-color: #A4D9F9 !important;
  }


  .u-boxShadowUserColorLighterFocus:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05), inset 0 1px 2px rgba(29,161,242,0.25) !important;
  }


  .u-textUserColorLightest {
    color: #E8F5FD !important;
  }

  .u-borderUserColorLightest {
    border-color: #E8F5FD !important;
  }

  .u-bgUserColorLightest {
    background-color: #E8F5FD !important;
  }


  .u-textUserColorLighter {
    color: #C6E7FB !important;
  }

  .u-borderUserColorLighter {
    border-color: #C6E7FB !important;
  }

  .u-bgUserColorLighter {
    background-color: #C6E7FB !important;
  }


  .u-bgUserColorDarkHover:hover {
    background-color: #1C88CC !important;
  }

  .u-borderUserColorDark {
    border-color: #1C88CC !important;
  }


  .u-bgUserColorDarkerActive:active {
    background-color: #1C70A6 !important;
  }

a,
.btn-link,
.btn-link:focus,
.icon-btn,



.pretty-link b,
.pretty-link:hover s,
.pretty-link:hover b,
.pretty-link:focus s,
.pretty-link:focus b,

.metadata a:hover,
.metadata a:focus,

a.account-group:hover .fullname,
a.account-group:focus .fullname,
.account-summary:focus .fullname,

.message .message-text a,
.message .message-text button,
.stats a strong,
.plain-btn:hover,
.plain-btn:focus,
.dropdown.open .user-dropdown.plain-btn,
.open > .plain-btn,
#global-actions .new:before,
.module .list-link:hover,
.module .list-link:focus,

.stats a:hover,
.stats a:hover strong,
.stats a:focus,
.stats a:focus strong,

.find-friends-sources li:hover .source,





.stream-item a:hover .fullname,
.stream-item a:focus .fullname,

.stream-item .view-all-supplements:hover,
.stream-item .view-all-supplements:focus,

.tweet .time a:hover,
.tweet .time a:focus,
.tweet .details.with-icn b,
.tweet .details.with-icn .Icon,

.stream-item:hover .original-tweet .details b,
.stream-item .original-tweet.focus .details b,
.stream-item.open .original-tweet .details b,

.client-and-actions a:hover,
.client-and-actions a:focus,

.dismiss-btn:hover b,

.tweet .context .pretty-link:hover s,
.tweet .context .pretty-link:hover b,
.tweet .context .pretty-link:focus s,
.tweet .context .pretty-link:focus b,

.list .username a:hover,
.list .username a:focus,
.list-membership-container .create-a-list,
.list-membership-container .create-a-list:hover,
.new-tweets-bar,



.card .list-details a:hover,
.card .list-details a:focus,
.card .card-body:hover .attribution,
.card .card-body .attribution:focus {
  color: #1DA1F2;
}



    #global-actions > li > a {
      border-bottom-color: #1DA1F2;
    }

    #global-actions > li:hover > a,
    #global-actions > li > a:focus,
    #global-actions > li.active .text,
    .DashUserDropdown.dropdown-menu .nightmode-toggle .Icon,
    .nav.right-actions > li > a:hover,
    .nav.right-actions > li > a:focus {
      color: #1DA1F2;
    }

      
      #global-actions .people.new:before {
        content: none;
      }

  
  .FoundMediaSearch--keyboard .FoundMediaSearch-focusable.is-focused {
    border-color: #1DA1F2;
  }

  
  .photo-selector:hover .btn,
  .icon-btn:hover,
  .icon-btn:active,
  .icon-btn.active,
  .icon-btn.enabled {
    border-color: #1DA1F2;
    border-color: rgba(29,161,242,0.4);
    color: #1DA1F2;
  }

  
  .photo-selector:hover .btn,
  .icon-btn:hover {
    background-image: linear-gradient(rgba(255,255,255,0), rgba(29,161,242,0.1));
  }

  .icon-btn.disabled,
  .icon-btn.disabled:hover,
  .icon-btn[disabled],
  .icon-btn[aria-disabled=true] {
    color: #1DA1F2;
  }

  
  

  .EdgeButton--primary,
  .EdgeButton--primary:focus {
    background-color: #4AB3F4;
    border-color: transparent;
  }

  .EdgeButton--primary:hover,
  .EdgeButton--primary:active {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
  }

  .EdgeButton--primary:focus {
    box-shadow:
      0 0 0 2px #FFFFFF,
      0 0 0 4px #A4D9F9;
  }

  .EdgeButton--primary:active {
    box-shadow:
      0 0 0 2px #FFFFFF,
      0 0 0 4px #4AB3F4;
  }

  
  

  .EdgeButton--secondary,
  .EdgeButton--secondary:hover,
  .EdgeButton--secondary:focus,
  .EdgeButton--secondary:active {
    border-color: #1DA1F2;
    color: #1DA1F2;
  }

  .EdgeButton--secondary:hover,
  .EdgeButton--secondary:active {
    background-color: #E8F5FD;
  }

  .EdgeButton--secondary:focus {
    box-shadow:
      0 0 0 2px #FFFFFF,
      0 0 0 4px rgba(29,161,242,0.4);
  }

  .EdgeButton--secondary:active {
    box-shadow:
      0 0 0 2px #FFFFFF,
      0 0 0 4px #1DA1F2;
  }

  
  

  .EdgeButton--invertedPrimary {
    color: #1DA1F2 !important;
  }

  .EdgeButton--invertedPrimary:focus {
    box-shadow:
      0 0 0 2px #1DA1F2,
      0 0 0 4px #A4D9F9;
  }

  .EdgeButton--invertedPrimary:active {
    box-shadow:
      0 0 0 2px #1DA1F2,
      0 0 0 4px #FFFFFF;
  }

  
  

  .EdgeButton--invertedSecondary {
    background-color: #1DA1F2;
  }

  .EdgeButton--invertedSecondary:hover {
    background-color: #4AB3F4;
  }

  .EdgeButton--invertedSecondary:focus {
    box-shadow:
      0 0 0 2px #1DA1F2,
      0 0 0 4px #A4D9F9;
  }

  .EdgeButton--invertedSecondary:active {
    box-shadow:
      0 0 0 2px #1DA1F2,
      0 0 0 4px #FFFFFF;
  }

  

  .btn:focus,
  .btn.focus,
  .Button:focus,
  .EmojiPicker-item.is-focused,
  .EmojiPicker .EmojiCategoryIcon:focus,
  .EmojiPicker-skinTone:focus + .EmojiPicker-skinToneSwatch,
  a:focus > img:first-child:last-child,
  button:focus {
    box-shadow:
      0 0 0 2px #FFFFFF,
      0 0 2px 4px rgba(29,161,242,0.4);
  }

  .selected-stream-item:focus {
    box-shadow: 0 0 0 3px rgba(29,161,242,0.4);
  }

  
  .js-navigable-stream.stream-table-view .selected-stream-item[tabindex="-1"]:focus {
    outline: 3px solid rgba(29,161,242,0.4) !important;
  }

  
  .js-navigable-stream.stream-table-view .selected-stream-item:focus {
    box-shadow: none;
  }

  

  .global-dm-nav.new.with-count .dm-new .count-inner {
    background: #1DA1F2;
  }

  .global-nav .people .count .count-inner {
    background: #1DA1F2;
  }

  .dropdown-menu li > a:hover,
  .dropdown-menu li > a:focus,
  .dropdown-menu .dropdown-link:hover,
  .dropdown-menu .dropdown-link:focus,
  .dropdown-menu .dropdown-link.is-focused,
  .dropdown-menu li:hover .dropdown-link,
  .dropdown-menu li:focus .dropdown-link,
  .dropdown-menu .selected a,
  .dropdown-menu .dropdown-link.selected {
    background-color: #1DA1F2 !important;
  }

  /* for items in typeahead dropdown menu on logged in pages */
  .dropdown-menu .typeahead-items li > a:focus,
  .dropdown-menu .typeahead-items li > a:hover,
  .dropdown-menu .typeahead-items .selected,
  .dropdown-menu .typeahead-items .selected a {
    background-color: #E8F5FD !important;
    color: #1DA1F2 !important;
  }

  .typeahead a:hover,
  .typeahead a:hover strong,
  .typeahead a:hover .fullname,
  .typeahead .selected a,
  .typeahead .selected strong,
  .typeahead .selected .fullname,
  .typeahead .selected .Icon--close {
    color: #1DA1F2 !important;
  }


.home-tweet-box,
.LiveVideo-tweetBox,
.RetweetDialog-commentBox {
  background-color: #E8F5FD;
}

.top-timeline-tweetbox .timeline-tweet-box .tweet-form.condensed .tweet-box {
  color: #1DA1F2;
}

.RichEditor,
.TweetBoxAttachments {
  border-color: #C6E7FB;
}

input:focus,
textarea:focus,
div[contenteditable="true"]:focus,
div[contenteditable="true"].fake-focus,
div[contenteditable="plaintext-only"]:focus,
div[contenteditable="plaintext-only"].fake-focus {
  border-color: #A4D9F9;
  box-shadow: inset 0 0 0 1px rgba(29,161,242,0.7);
}

.tweet-box textarea:focus,
.tweet-box input[type=text],
.currently-dragging .tweet-form.is-droppable .tweet-drag-help,
.tweet-box[contenteditable="true"]:focus,
.RichEditor.is-fakeFocus,
.RichEditor.is-fakeFocus ~ .TweetBoxAttachments {
  border-color: #A4D9F9;
  box-shadow: 0 0 0 1px #A4D9F9;
}

.MomentCapsuleItem.selected-stream-item:focus {
  box-shadow: 0 0 0 3px rgba(29,161,242,0.4);
}




s,
.pretty-link:hover s,
.pretty-link:focus s,
.stream-item-activity-notification .latest-tweet .tweet-row a:hover s,
.stream-item-activity-notification .latest-tweet .tweet-row a:focus s {
    color: #1DA1F2;
}



.vellip,
.vellip:before,
.vellip:after,
.conversation-module > li:after,
.conversation-module > li:before,
.ThreadedConversation--loneTweet:after,
.ThreadedConversation-tweet:not(.is-hiddenAncestor) ~ .ThreadedConversation-tweet:before,
.ThreadedConversation-tweet:after,
.ThreadedConversation-moreReplies:before,
.ThreadedConversation-viewOther:before,
.ThreadedConversation-unavailableTweet:before,
.ThreadedConversation-unavailableTweet:after,
.ThreadedConversation--permalinkTweetWithAncestors:before,
.mini-avatar-with-thread:before,
.permalink.self-thread-permalink-with-descendant .permalink-tweet-container:after,
.permalink.self-thread-permalink-with-descendant .inline-reply-tweetbox-container:after {
    border-color: #A4D9F9;
}




.tweet .sm-reply,
.tweet .sm-rt,
.tweet .sm-fav,
.tweet .sm-image,
.tweet .sm-video,
.tweet .sm-audio,
.tweet .sm-geo,
.tweet .sm-in,
.tweet .sm-trash,
.tweet .sm-more,
.tweet .sm-page,
.tweet .sm-embed,
.tweet .sm-summary,
.tweet .sm-chat,

.timelines-navigation .active .profile-nav-icon,
.timelines-navigation .profile-nav-icon:hover,
.timelines-navigation .profile-nav-link:focus .profile-nav-icon,

.sm-top-tweet {
    background-color: #1DA1F2;
}

.enhanced-mini-profile .mini-profile .profile-summary {
  background-image: url(https://abs.twimg.com/a/1543439602/img/t1/grey_header_web.jpg);
}

  #global-tweet-dialog .modal-header,
  #Tweetstorm-dialog .modal-header {
    border-bottom: solid 1px rgba(29,161,242,0.25);
  }

  #global-tweet-dialog .modal-tweet-form-container,
  #Tweetstorm-dialog .modal-body {
    background-color: #1DA1F2;
    background: rgba(29,161,242,0.1);
  }

  .TweetstormDialog-reply-context .tweet-box-avatar:after,
  .TweetstormDialog-reply-context .tweet-box-avatar:before,
  .TweetstormDialog-tweet-box .tweet-box-avatar:after,
  .TweetstormDialog-tweet-box .tweet-box-avatar:before {
    border-color: #A4D9F9;
  }

  .global-nav .search-input:focus,
  .global-nav .search-input.focus {
    border: 2px solid #1DA1F2;
  }
}

  .inline-reply-tweetbox {
    background-color: #E8F5FD;
  }